<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <button>
                Incident page
            </button>
        </div>
    </div>
        
    <div class="row align-items-center">   
        <div class="col">
            <button>
                Incident page
            </button>
        </div>
    </div>    
    
    <div class="row align-items-ends">
        <div class="col">
            <button>
                Incident page
            </button>
        </div>
    </div>  
</div>
